:root {
    --primary: #A7C7E7;
    --secondary: #C8F3E0;
    --background: black;
    --texto: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

/* Cursor principal */
.cursor {
    width: 16px;
    height: 16px;
    background: whitesmoke;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px white;
    transition: opacity 0.3s ease;
}

.cursor.hide {
    opacity: 0;
}
.trail {
    position: absolute;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle, white 0%, #b77fff 100%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
    animation: tailFade 0.6s linear forwards;
    filter: blur(1px);
}

@keyframes tailFade {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2);
    }
}

#Velaris {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: block;
}

/* =============================== Seção 1 =============================== */
#section1 {
    height: 35vh;
    width: 100%;
    padding-top: 80px;
}

.navbar {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.espaco .btn {
    border: 0;
}

.espaco .btn:hover {
    background-color: rgba(160, 138, 138, 0.4);
    color: var(--primary);
}

/* =============================== Seções 2 =============================== */

#section2 {
    height: 65vh;
    width: 100%;
}

/* =============================== Seção 3 =============================== */

#section3 {
    height: 100vh;
    width: 100%;
}

/* =============================== Seção 4 =============================== */

#section4 {
    height: 100vh;
    width: 100%;
}

.fundo-form {
    background-color: rgb(254, 252, 252, 0.1);
    width: 70vw;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.form-label {
    color: black;
}

.form-label:hover {
    color: var(--secondary);
}

#title-form {
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.fundo-form form {
    width: 100%;
    max-width: 30vw;
}

.fundo-form .mb-3 {
    width: 100%;
    margin-bottom: 1rem;
}

/* Inputs */
.fundo-form input {
    width: 100%;
}

/* Botão */
.form-button {
    width: 100%;
    margin-top: 2rem;
    background-color: var(--primary);
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    border: none;
}

.form-button:hover {
    background-color: var(--secondary);
}

/* Animação do formulario */

.fundo-form,
.fundo-form label,
.fundo-form input,
.form-button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fundo-form.visible {
    opacity: 1;
}

.fundo-form.visible label,
.fundo-form.visible input,
.fundo-form.visible .form-button {
    opacity: 1;
    transform: translateY(0);
}

.fundo-form label {
    transition-delay: 0.3s;
}

.fundo-form input {
    transition-delay: 0.6s;
}

.form-button {
    transition-delay: 0.9s;
}
