:root {
    --primary: #A7C7E7;
    --secondary: #C8F3E0;
    --background: black;
    --texto: #FFFFFF;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

#Velaris {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            display: block;
        }

/* =============================== Seção 1 =============================== */
#section1 {
    height: 35vh;
    width: 100%;
    padding-top: 80px; /* ajuste para a altura da navbar */
}

.navbar {
    background-color: transparent;
    padding: 20px;
    position: sticky;
    width: 100%;
    z-index: 10;
}

.espaco {
    display: inline;
    justify-content: space-around;
}

.espaco .btn {
    border: 0;
}

.espaco .btn:hover {
    background-color: rgba(160, 138, 138, 0.4);

    color: var(--primary);

}

/* =============================== Seção 2 =============================== */

#section2 {
    height: 65vh;
    width: 100%;
}


/* =============================== Seção 3 =============================== */

#section3 {
    height: 100vh;
    width: 100%;
}

/* =============================== Seção 4 =============================== */

#section4 {
    height: 100vh;
    width: 100%;
}