:root {
    --primary: #A7C7E7;
    --secondary: #C8F3E0;
    --background: black;
    --texto: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

div.cursor {
    width: 50px;
    height: 50px;
    border: 2px dashed gold;
    border-radius: 100%;
    position: absolute;
    animation: cursor 5s linear infinite;
}
@keyframes cursor {
    to {
        transform: rotate(0deg);
    } from {
        transform: rotate(-360deg);
    }
}

#Velaris {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: block;
}

/* =============================== Seção 1 =============================== */
#section1 {
    height: 35vh;
    width: 100%;
    padding-top: 80px;
}

.navbar {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.espaco .btn {
    border: 0;
}

.espaco .btn:hover {
    background-color: rgba(160, 138, 138, 0.4);
    color: var(--primary);
}

/* =============================== Seções =============================== */

#section2 {
    height: 65vh;
    width: 100%;
}

#section3 {
    height: 100vh;
    width: 100%;
}

#section4 {
    height: 100vh;
    width: 100%;
}


/* =============================== FORM =============================== */

.fundo-form {
    background-color: rgb(254, 252, 252, 0.1);
    width: 70vw;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.form-label {
    color: black;
}

#title-form {
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.fundo-form form {
    width: 100%;
    max-width: 30vw;
}

.fundo-form .mb-3 {
    width: 100%;
    margin-bottom: 1rem;
}

/* Inputs */
.fundo-form input {
    width: 100%;
}

/* Botão */
.form-button {
    width: 100%;
    margin-top: 2rem;
    background-color: var(--primary);
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    border: none;
}
.form-button:hover {
    background-color: var(--secondary);
}