/* Mobile */


@media (max-width: 430px) {
    .fundo-form {
        padding: 1.5rem;
        width: min(90vw, 500px);
    }

    #title-form {
        font-size: 1.3rem;
    }
}


@media (max-width: 600px) {
    .navbar {
        padding: 10px 15px;
        backdrop-filter: blur(6px);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .espaco .btn {
        padding: 6px 10px;
        font-size: 0.85rem;
    }

    #section1 {
        padding-top: 120px;
        height: auto;
        padding-bottom: 40px;
    }

    #section1 h1 {
        font-size: 1.8rem;
    }

    #section1 p {
        font-size: 1rem;
        margin-top: 10px;
    }

    #btnContato {
        padding: 8px 20px;
        font-size: 0.9rem;
    }

    .fundo-form {
        width: 90vw;
        padding: 2rem;
    }

    #section4 {
        height: auto;
        padding: 60px 0;
    }

    footer {
        padding: 1.5rem 0;
        font-size: 0.85rem;
    }

    .social-links {
        gap: 1rem;
    }

    .social-links a {
        font-size: 0.9rem;
    }
}


/* Tablets e notebooks */

@media (min-width: 601px) and (max-width: 1400px) {
    .fundo-form {
        width: 70vw;
        max-width: 800px;
    }
}


@media (max-width: 768px) {
    #section4 .destaque {
        font-size: 1.1rem;
    }
}


@media (max-width: 900px) {
    .servicos {
        gap: 20px;
        padding: 20px 0;
        min-height: auto;
    }

    .card {
        width: 90%;
        max-width: 320px;

    }

    .card h3 {
        font-size: 16px;
    }

    .card p {
        font-size: 13px;
    }
}


@media (max-width: 991px) {
    .navbar .navbar-toggler {
        margin-left: auto;
    }

    .navbar .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #navbarButtons {
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(6px);
        padding: 15px 0;
        margin-top: 10px;
        border-radius: 10px;
    }

    #navbarButtons .btn-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        align-items: center;
    }

    #navbarButtons .btn-group .btn {
        width: 90%;
        text-align: center;
    }
       #section4 .destaque {
        font-size: 3rem;
    }
}


/* TVs e telas gigantes (4K, ultrawide) */

@media (min-width: 1401px) {
    .fundo-form {
        width: 60vw;
        max-width: 900px;
    }
}

@media (min-width: 2560px) {
    #section4 .destaque {
        font-size: 3.5rem;
    }
}