:root {
    --primary: #A7C7E7;
    --secondary: #C8F3E0;
    --background: black;
    --texto: #FFFFFF;
}

body {
background-image: url("../assets/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* =============================== Seção 1 =============================== */
#section1 {
    height: 35vh;
    width: 100%;
    background-image: url("../assets/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#section1 .navbar {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.espaco {
    display: inline;
    justify-content: space-around;
}

.espaco .btn {
    border: 0;
}

.espaco .btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
    
    color: var(--texto);
    
}

/* =============================== Seção 2 =============================== */

#section2 {
    height: 65vh;
    width: 100%;
    background-image: url("../assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
}


/* =============================== Seção 3 =============================== */

#section3 {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* =============================== Seção 4 =============================== */

#section4 {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}