body {
background-image: url("../assets/teste3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
navbar {
    color: white;
}
#section1 {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/teste3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.espaco {
    display: inline;
    justify-content: space-around;
}